html {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global custom styles */

.venture-container {
  max-width: 1000px;
}
.component-container {
  margin-top: 80px;
}
.btn, .btn:focus {
  background-color: #D23763;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #E5628A;
}
.venture-nav {
  position: absolute;
  top: 0;
  background: transparent;
  box-shadow: none;
  z-index: 1;
}
.burger-nav {
  display: none;
}
.navbar {
  display: block;
}
.venture-link, .venture-link:hover {
  color: #0E2F4F;
  padding: 0 20px;
}
.venture-btn, .venture-btn:focus {
  width: auto;
  height: 35px;
  padding: 0 1.1rem;
  color: white;
  background: #D23763;
  border-radius: 5px;
  border: none;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
.venture-btn:hover {
  background-color: #E5628A;
}
.venture-logo {
  width: 150px;
  margin: 1rem 0;
}
.sign-up-btn {
  width: 80px;
  height: 35px;
  background: #D23763;
  border-radius: 5px;
  border: none;
  font-style: normal;
  font-weight: 600;
  margin-left: 20px;
}
.sign-up-anchor {
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.notifications {
  background-color: #EAEAEA;
  border-radius: 5px;
}
.highlight-text {
  color: #D23763;
}
.project-summary {
  background-color: #EAEAEA;
  border-radius: 5px;
}

form {
  background-color: #EAEAEA;
  border-radius: 5px;
  padding: 20px;
  margin-top: 60px;
}
form button, form h5 {
  margin: 20px 0;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #D23763;
  box-shadow: none;
}

/* Medium Screens */
@media only screen and (max-width: 900px) {
  .burger-nav {
    display: block;
  }
  .navbar {
    display: none;
  }
}

/* Small Screens */
@media only screen and (max-width: 600px) {
  
}
